# переименуйте этот файл в .env
# чтобы креды подцепились в скрипте используйте load_dotenv()
# а для консоли используйте set -a; source .env; set +a
HOST='82.202.137.136'
PG_PORT=5432
PG_DB='homecredit'
PG_LOGIN='' # ваш логин, который вам прислали
PG_PASS='' # ваш пароль, который вам прислали
